html {
    height: 100vh;
}

body {
    background-color: #fff5ec;
    font-family: 'Playfair Display', serif;
    height: 100%;
    margin: 0;
}

.indexContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100% - 104px);

}

.topContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 32px;
}

.logoTopLeft {
    width: 249px;
    height: 92px;
    border-radius: 20px;
    background-color: #580156;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoTopLeft span {
    width: 10px;
    height: 70px;
}

.logoTopLeft p {
    width: 227.6px;
    font-size: 65px;
    margin: 0px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.menuTop {
    background-color: #3a3a3a;
    height: 92px;
    width: 896px;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menuTop ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
        cursor: pointer;
    

}

.button{
    text-decoration: none;
    color: #D9D9D9;
    font-size: 50px;        
}

.svg {
    position: absolute;
    bottom: 0;
    left: 0;
}

h1 {
    margin-bottom: 0;
    display: grid;
    place-items: center;
    font-size: 90px;
    margin-top: 0px;


}

h2 {
    margin: 0;
    display: grid;
    place-items: center;
    font-size: 70px;

}

.picturehorizontal {
    display: flex;
    gap: 10px;
}

.pictureBottom {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.picture1 {
    height: 284px;
    width: 483px;
    border-radius: 24px;
    border: black 5px solid;
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s ease;
    transform: scale(1);
}

.picture1:hover {
    transform: scale(1.2);
}

.picture2 {
    height: 284px;
    width: 278px;
    border-radius: 24px;
    overflow: hidden;
    border: black 5px solid;
    display: inline-block;
    transition: transform 0.3s ease;
    transform: scale(1);
}
.picture2:hover {
    transform: scale(1.2);
}



.picturevertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.picture3 {
    height: 132px;
    width: 176px;
    border-radius: 24px;
    overflow: hidden;
    border: black 5px solid;
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s ease;
    transform: scale(1);
}

.picture3:hover {
    transform: scale(1.2);
}

.picture4 {
    height: 131px;
    width: 178px;
    border-radius: 24px;
    overflow: hidden;
    border: black 5px solid;
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s ease;
    transform: scale(1);
}

.picture4:hover {
    transform: scale(1.2);
}

/* test */
/* From Uiverse.io by Na3ar-17 */ 
.button {
    border: none;
    outline: none;
    background-color: #3a3a3a;
    width: 180px;
    height: 60px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    width: 106%;
    height: 120%;
    z-index: -1;
    border-radius: inherit;
    transition: all 0.3s;
  }
  
  .gradient-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 106%;
    height: 115%;
    overflow: hidden;
    border-radius: inherit;
    z-index: -2;
    filter: blur(10px);
    transition: all 0.3s;
  }
  
  .gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    aspect-ratio: 1;
    border-radius: 100%;
    transition: all 0.3s;
    background-image: linear-gradient(
      90deg,
      hsl(226, 100%, 50%),
      hsl(0, 0%, 100%),
      hsl(0, 100%, 50%)

    );
    animation: rotate 2s linear infinite;
    filter: blur(10px);
  }
  
  .label {
    width: 156px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 22px;
    background-color: rgba(43, 43, 43, 1);
    background-image: linear-gradient(
      180deg,
      rgb(43, 43, 43) 0%,
      rgb(68, 68, 68) 100%
    );
  }
  
  .button:hover .gradient-container {
    transform: translate(-50%, -50%) scale(0.98);
    filter: blur(5px);
  }
  
  .button:hover .gradient {
    filter: blur(5px);
  }
  
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  